// Style 
.input__password__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px ;
    align-items: flex-start;
    border-radius: 10px;

    label {
        color: $black;
    }

    .input__password__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border: 1px solid $dark-smooth;
        border-radius: 10px;
        width: 100%;
        transition: border-color 0.3s;

        &:focus-within {
            border-color: $primary;
        }

        .password__input { 
            color: $black;

            &::placeholder {
                color: $light-grey;
            }    
        } 

        .input__password-icon {
            cursor: pointer;
        }
    }
}
