.signin__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: $black;

    .logo {
        flex: 1;
    }

    .signin__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 30px;
        border-radius: 20px;
        background: white;

        .signin__content-title {
            font-size: 35px;
            color: $black;
            font-weight: 700;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }

        .signin__content-hint {
            display: flex;
            align-items: center;
            gap: 8px;

            .hint__line {
                border: 1px solid $light-grey;
                width: 178px;
            }

            .hint__text {
                color: $light-grey;
            }
        }
    }
}