// Sign up component styles 
.signup__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: $primary-light;    

    .logo {        
        flex: 3;
        margin-left: 200px;

        img {
            width: 315px;
        }
    }

    .signup__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
        padding: 30px;
        border-radius: 20px;
        background: white;
        margin-right: 200px;

        .signup__content-title {
            font-size: 35px;
            color: $black;
            font-weight: 700;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            width: 100%;
        }

        .signup__content-hint {
            display: flex;
            align-items: center;
            gap: 8px;

            .hint__line {
                border: 1px solid $light-grey;
                width: 178px;
            }

            .hint__text {
                color: $light-grey;
            }
        }
    }
}